{% extends "base.html" %}

{% block title %} ResourceRange | Home {% endblock %}
{% block content %}
<br><br><br>
<div class="footer">
    <span style="text-align: left; font-size: large;"><a style="font-size: xx-large;">ResourceRange</a> <br> <br> Finding good websites and using them in your research papers has never been easier. With this website you can search and find many credible websites and a short summary of what they are about. Rather than reading through whole websites and then finding that they had nothing to do wityour paper, use ResourceRange now! Shorten your research time and increase your productivity. It's as easy as searching sometig up in the searchbar! No sigup, no payment, no nothing!</span>
</div>
<br>

{% endblock %}